rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() { return request.auth != null; }

    // Avatares/fotos de perfil del usuario
    match /users/{uid}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn()
                   && request.auth.uid == uid
                   && request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    // Comprobantes de pago
    match /receipts/{uid}/{allPaths=**} {
      allow read: if isSignedIn() && request.auth.uid == uid; // o true si querés que el chofer los vea por URL pública (mejor mantener privado)
      allow write: if isSignedIn()
                   && request.auth.uid == uid
                   && request.resource.size < 10 * 1024 * 1024
                   && request.resource.contentType.matches('(image|application)/.*');
    }
  }
}
